@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 5000px;
}

.webkit {
  display: -moz-box;
  display: -ms-box;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  -moz-line-clamp: 3;
  -moz-box-orient: vertical;
  -ms-line-clamp: 3;
  -ms-box-orient: vertical;
  overflow: hidden;
}
